<!-- pedidos.html -->
<!--Para que a página filha herde o template base-->
{% extends "base.html" %}
<!-- Criar uma estrutura que permita a inserção do conteúdo das
páginas filhas na estrutura do arquivo base-->
{% block content %}
<!--Titulo de nivel1-->
<h1>Pedidos</h1>
<!-- cria uma lista-->
<ul>
  <!--inicia um loop que percorre a lista de pedidos chamada "orders" 
        e para cada item na lista, a variável "order" é definida para esse item-->
  {% for order in orders %}
  <!-- '{{ order }}'é usada para imprimir na página o valor da variável order, 
        #que está sendo iterada pelo loop for no arquivo orders.html.-->
  <li>{{ order }}</li>
  <!--fim do loop for-->
  {% endfor %}
</ul>
<!--link para a pagina inicial-->
<p>Voltar para <a href="/">página inicial</a>!</p>
<!--Indica o fim de um bloco de conteúdo em um template HTML-->
{% endblock %}
