<!--Define a estrutura basica do html -->
<!--orders.html-->
<html>
  <head>
    <!--define o nome da pagina-->
    <title>Meu Restaurante</title>
  </head>
  <body>
    <!--cria um titulo nivel 1-->
    <h1>Pedidos</h1>
    <!--cria uma lista dos pedidos-->
    <ul>
      <li>Combo 1, comanda 2.</li>
      <li>Combo 2, comanda 5.</li>
      <li>Executivo 2, comanda 3</li>
      <li>Refri laranja, comanda 134</li>
      <li>Cerveja, comanda 12</li>
      <li>Batata Frita, comanda 14</li>
    </ul>
    <!--Link para voltar para a página inicial-->
    <p>Voltar para <a href="/">página inicial</a>!</p>
  </body>
</html>
