<!-- Define a estrutura básica da página HTML -->
<!--home.html-->
<html>
  <head>
    <!-- Define o título da página -->
    <title>Meu Restaurante</title>
  </head>
  <!--criamos o corpo do html onde ficara praticamente todo o código da pagina-->
  <body>
    <!-- Cria um título de nível 2 para a página -->
    <h2>Meu Restaurante</h2>
    <!-- Cria um título de nível 3 para a seção do menu -->
    <h3>Acesse o menu:</h3>
    <!--cria uma lista, no caso criamos uma lista de links-->
    <ul>
      <!-- Link que leva para a rota /orders -->
      <li><a href="/orders">Listar Pedidos</a></li>
      <!-- Link que não leva a lugar nenhum -->
      <li><a href="#">Listar Clientes</a></li>
      <!-- A mesma coisaque o de cima -->
      <li><a href="#">Listar Funcionários</a></li>
    </ul>
    <!-- Adiciona um parágrafo com informações sobre a verificação dos pedidos -->
    <p>Lembre-se de verificar corretamente os pedidos!</p>
    <!-- Adiciona um parágrafo com informações sobre a solicitação de alterações nos produtos -->
    <p>Caso algum produto esteja inconsistente. Solicitar a alteração!</p>
    <!-- Adiciona um parágrafo com informações sobre a política de troca dos pedidos -->
    <p>Não realizamos a troca dos pedidos após a confeccão!</p>
  </body>
</html>
